<h1>Sticky Notes</h1>

<form>
  <input type = "text" id = "note_text">
  <input type = "button" id = "add_button" class = "button middle_green" value = "Add Sticky Note">
</form>

<ul id = "stickies">
</ul>