<div id = "budget-menu">
  <div class="pseudo">
    <h1>Budget</h1>
    <span class = "a-project">Затраты: <em class = "right">1500р</em></span><br>
    <span class = "a-project">Доход: <em class = "right">0р</em></span><br>
    <br/>
    <span>Прибыль: <em class = "right">-1500р</em></span>
  </div><!--/pseudo-->
</div><!--/projects-menu-->